#annotation {
  position: absolute;
  z-index: 3;
  height: auto;
  white-space: nowrap;
  padding: 10px;

  transform: translate(-50%, 20%);

  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#annotation-body {
}
