.label {
  position: absolute;
  left: 0;
  top: 0;
  text-anchor: middle;
  width: max-content;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Arial, sans-serif;
  letter-spacing: 0.03em;

  /* hack to make the shadow stronger */
  text-shadow:
    0 0 1px #f2efe9,
    0 0 2px #f2efe9,
    0 0 5px #f2efe9,
    0 0 5px #f2efe9,
    0 0 5px #f2efe9,
    0 0 5px #f2efe9,
    0 0 5px #f2efe9,
    0 0 5px #f2efe9,
    0 0 5px #f2efe9,
    0 0 5px #f2efe9;
}

#labels0 {
  color: rgb(153, 91, 153);
  font-size: 1em;
  font-weight: bold;
}

#labels1 {
  color: rgb(57, 57, 57);
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
}

#labels2 {
  color: rgb(101, 91, 153);
  font-size: 0.4em;
  font-weight: bold;
}

.label-available {
  transition: color 0.2s ease;
  color: blue;
  text-decoration: underline;
}

.label-available:hover {
  cursor: pointer;
  animation: hover-animation 1s ease-in-out infinite;
}

.label-unavailable {
}

#ff {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: visiblePainted;
}

@keyframes hover-animation {
  0% {
  }
  50% {
    color: rgb(255, 109, 109);
  }
  100% {
  }
}
