<section>
    <h1>Header h1</h1>

    <h2>Header h2</h2>

    <h3>Header h3</h3>

    <h4>Header h4</h4>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis lacus magna. Nullam sagittis orci ut volutpat semper. Quisque nec ante nibh. Vestibulum sit amet tincidunt odio. Suspendisse finibus leo non odio volutpat convallis. Curabitur ac vulputate urna. </p>

    <p>Donec cursus nisi turpis, non interdum neque dictum ac. Integer tincidunt lorem eget sapien viverra, non lacinia ligula pretium. Sed faucibus ligula velit, vel volutpat lacus vestibulum vel. Fusce erat urna, accumsan vitae est gravida, venenatis tempor odio. Proin et tellus aliquam, suscipit lacus sed, consectetur ligula. Quisque dictum gravida tortor, eu hendrerit metus commodo id. Donec quis rutrum diam. Curabitur vitae libero tincidunt tellus efficitur semper. Pellentesque tempus vestibulum ipsum. Aliquam erat volutpat. Vestibulum augue purus, pharetra vitae convallis eget, cursus eu lacus.</p>

    <img width=400 src="https://upload.wikimedia.org/wikipedia/commons/2/22/Heckert_GNU_white.svg" alt="gnu">

    <h1>Unordered list</h1>
    <ul>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
    </ul>

    <h1>Ordered list</h1>
    <ol>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
    </ol>


    <h1>Table</h1>

    <table>
        <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
        </tr>
        <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        </tr>
        <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
        </tr>
    </table>
</section>