html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
}

#annotation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  visibility: hidden;
  pointer-events: none;
}
#annotation-connection {
  position: absolute;
  top: 0;
  left: 0;
}
#annotation-body {
  position: absolute;
  top: 33px;
  left: 33px;
  z-index: 3;
  display: inline-table;
  height: auto;
  white-space: nowrap;
}

.few-articles {
  color: darkred;
}

.many-articles {
  color: green;
}

#article {
  visibility: hidden;
  position: absolute;
  z-index: 30;
  width: 40vw;
  height: 90vh;
  right: 5vw;
  top: 0;
  bottom: 0;
  margin: auto;
}

#article-content {
  height: 100%;
  width: 100%;
}

.content {
  background-color: #ffffffdd;
  padding: 8px;
  border-radius: 4px;
  border: #70707070 1px solid;
  box-shadow: 10px;
  box-shadow: 3px 3px 5px #33333344;
}

#debug {
  z-index: 20;
  white-space: nowrap;
  position: absolute;
  top: 20px;
  left: 220px;
  font-size: x-small;
  display: none;
}

#foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

#chart {
  z-index: 5;
  position: relative; /* for annotation */
  display: none;
  width: 100%;
  height: 100%;
  background-color: lightblue;
}
/**
    * d3fc enforces some styles that we need to override here because they don't match our styles.
    */
/* disabling d3fc axis and labels */
#chart d3fc-svg.x-axis {
  height: 0;
}
#chart d3fc-svg.y-axis {
  width: 0;
}

#chart .chart-label,
#chart .x-label,
#chart .y-label {
  display: none;
}
/* below removes empty space around plots and keeps them overlaying */
#chart d3fc-group.cartesian-chart {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
#chart .plot-area {
  grid-row-start: 1;
  grid-column-start: 1;
}

/* d3 */
#chart-d3 {
  /* position: absolute; */
  /* left: 0;
    top: 0; */
  width: 100%;
  height: 100vh;
}

.city-shape {
  cursor: pointer;
}

.label {
  position: absolute;
  left: 0;
  top: 0;
  text-anchor: middle;
  font-weight: bold;
  width: max-content;
  text-align: center;
  transform: translate(-50%, -50%);
}

.label-hover {
  cursor: pointer;
  color: rgb(170, 170, 170);
}

#labels0 {
  font-size: x-large;
  color: white;
  text-shadow: 0px 1px 2px rgba(1, 1, 1, 1);
}

#labels1 {
  font-size: large;
  color: white;
  text-shadow: 0px 1px 2px rgba(1, 1, 1, 1);
}

#labels2 {
  font-size: medium;
  color: white;
  text-shadow: 0px 1px 2px rgba(1, 1, 1, 1);
}

#labels3 {
  color: cornflowerblue;
  font-size: small;
  text-shadow: none !important;
}

#ff {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: visiblePainted;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
